.taskInProgress {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 1.5rem 0;
}

.createTask, .doneTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.createTask strong, .doneTask strong {
  font-size: 0.875rem;
  line-height: 1.4;
}

.createTask strong {
  color: var(--blue);
}

.createTask span, .doneTask span {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-200);
  background: var(--gray-400);
}

.createTask span {
  padding: 0.125rem 0.5rem;
  border-radius: 64.43rem;
}

.doneTask strong {
  color: var(--purple-dark);
}

.doneTask span {
  padding: 0.125rem 0.5rem;
  border-radius: 64.43rem;
}