.container {
  /* border: 1px solid red; */
  background: var(--gray-500);
  height: 4.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.container p {
  flex: 1;
  color: var(--gray-100);
}

.container button {
  border: none;
  padding: 0.375rem;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--gray-300);

  transition: background-color 0.15s, color 0.15s;
}

.container button:hover {
  background: var(--gray-400);
  color: var(--danger);
}

.container button svg {
  line-height: 0;
}

.container + .container {
  margin-top: 0.75rem;
}

.done {
  text-decoration: line-through;
}

