.newTaskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.newTaskForm input[type="text"] {
  width: 39.87rem;
  height: 3.375rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--gray-300);
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem;
}

.newTaskForm input[type="text"]:focus {
  color: var(--gray-100);
}

.newTaskForm input[type="text"]:-webkit-autofill {
  color: var(--gray-100);
  background: var(--gray-500);
}

.newTaskForm button[type="submit"] {
  width: 5.625rem;
  height: 3.25rem;
  border: 0;
  border-radius: 8px;
  background: var(--blue-dark);
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--gray-100);
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.15s;
}

.newTaskForm button[type="submit"]:hover {
  background: var(--blue);
}

.newTaskForm button[type="submit"]:disabled {
  cursor: wait;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

@media (max-width: 425px) {
  html {
    font-size: 87.5%;
    font-size: 100%;
  }

  .newTaskForm {
    display: flex;
    flex-direction: column;
  }

  .newTaskForm button[type="submit"] {
    width: 100%;
    font-size: 1.2rem;
  }

  .newTaskForm input[type="text"] {
    width: 100%;
  }

}